.vertical-menu li {
    list-style: none;
}
.vertical-menu ul {
    padding-left: 0;
}
.vertical-menu li > a > img {
    width: 30px;
    margin-right: 5px;
}
.vertical-menu li > a {
    color: #333;
}
.vertical-menu ul > li:not(:last-child) {
    margin-bottom: 15px;
}
.vertical-menu li > a:hover {
    color: var(--color-main);
}
.header-highlight .navbar-header:not([class*="bg-"]) {
    background-color: var(--color-main);
}
.row-banner {
    display: flex;
}

.row.row-banner > * {
    float: unset;
}

.row.row-banner > * .panel {
    height: 100%;
    margin-bottom: 0;
}

.dashboard-slide-item img {
    height: 100%;
}

.banner-home-right img {
    height: 100%;
    object-fit: cover;
}
.navbar-brand img {
    filter: brightness(0) invert(1);
}
.product-home-list {
    --f-columns: 5;
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
}
.product-home-list > * {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
}
.product-home-item .product-home-title {
    font-size: 14px;
}
.product-home-item .product-home-title a {
    color: #333;
    font-weight: bold;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-home-item .product-home-title a:hover {
    color: var(--color-main);
}
.product-home-item .product-home-price {
    font-weight: bold;
    color: #d00;
    font-size: 15px;
}
.product-home-item {
    background: #fff;

    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-home-text {
    padding: 15px;
    text-align: center;
}

.product-home-item .product-thumb {
    border-radius: 5px 5px 0 0;
    height: 190px;
    object-fit: cover;
    width: 100%;
}
.product-wrap:not(:last-child) {
    margin-bottom: 60px;
}
.row-frontend-detail .entry-price {
    color: #d00;
    font-size: 20px;
}
.row-frontend-detail .entry-content img {
    max-width: 50%;
}
.product-wrap > h3 {
    text-transform: uppercase;
}
.product-home-item .product-home-title {
    margin-top: 0;
}
.entry-thumbnail {
    width: 100%;
}
.row.row-banner-bottom {
    margin-top: 30px;
}
.footer-policy-item {
    display: flex;
    align-items: center;
}

.footer-policy-item > img {
    width: 40px;
    margin-right: 15px;
}

.footer-main {
    background: #252b33;
    padding: 30px;
}
.row {
    width: 1200px;
    margin: auto;
    max-width: 100%;
}
.footer-policy-item {
    color: #fff;
}
.copyright {
    padding: 10px;
}
.footer-logo .logo-footer {
    max-height: 42px;
    margin-bottom: 25px;
    height: auto !important;
    width: auto !important;
}
.footer-logo .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 20px 0px;
    padding: 12px 15px 15px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
}
.footer-logo .footer-address img {
    width: 24px;
    margin-right: 15px;
}
footer {
    color: #fff;
}
.footer-logo .footer-time {
    color: #96aac3;
    line-height: 1.3;
}
.footer-title {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
}
.footer-hotline .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #38414d;
}
.footer-hotline .footer-phone img {
    margin-right: 15px;
}
.footer-hotline .footer-phone .footer-phone-content a {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.footer-hotline .footer-phone .footer-phone-content span {
    display: block;
    color: #96aac3;
}
.footer-hotline .footer-email {
    margin-bottom: 20px;
}
.footer-hotline .footer-email img {
    margin-right: 15px;
}
.footer-hotline .footer-email a {
    color: #fff;
}
.footer-hotline .footer-social a {
    display: inline-block;
}
.footer-hotline .footer-social a svg {
    width: 24px;
    height: 24px;
}
.footer-hotline .footer-social a svg path {
    fill: #fff; 
}
.footer-hotline .footer-social a+a {
    margin-left: 8px;
}
.footer-list-menu a {
    display: block;
    color: #fff;
    position: relative;
}
.footer-list-menu a+a {
    margin-top: 5px;
}
.footer-main > *:not(:last-child) {
    margin-bottom: 30px;
}

.footer-main > *:first-child {
    border-bottom: 1px solid #38414d;
    padding-bottom: 30px;
}
.row-supplier {
    margin-top: 30px;
}

.supplier-item img {
    background: #fff;
    height: 70px;
    object-fit: contain;
    width: 100%;
    padding: 10px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}
.row-banner-bottom img {
    width: 100%;
}
#btnAddCart {
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
}

@media screen and (max-width: 767.98px) {
    .row-banner {
        display: flex;
        flex-direction: column;
    }

    .banner-home-right {
        display: none;
    }
    .banner-home-center {
        order: 1;
    }

    .vertical-menu {
        order: 2;
    }

    .vertical-menu .panel {
        width: 100%;
    }

    .vertical-menu .panel ul {
        display: flex;

        justify-content: space-between;
    }
    .vertical-menu .panel ul > li > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .vertical-menu .panel ul > li {
        width: 20%;
    }

    .vertical-menu .panel ul > li > a > span {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .vertical-menu .panel ul > li > a > img {
        height: 67px;
        object-fit: contain;
    }
    .product-home-list {
        --f-columns: 2;
    }
    .product-home-list {
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 44%;
        grid-auto-flow: column;
        grid-gap: 15px;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        grid-template-columns: unset;
        padding: 15px;
        scroll-padding: 15px;
    }

    .product-home-item {
        margin-bottom: 0;
        scroll-snap-align: start;
        width: 100%;
    }
    .content-wrapper {
        padding-bottom: 60px;
    }
    .category-page .product-home-list {
        display: flex;
        grid-gap: 0;
        padding: 0;
    }

    .category-page .product-home-list > * {
        width: calc((100% / var(--f-columns) - var(--f-gap)));
        scroll-snap-align: unset;
        margin-bottom: var(--f-gap);
    }
}
